<script src="../checkCountry.js"></script>
<html>
    <script src="../../header.js"></script>
    <body>
        <script>
            var countryPrefix = localStorage.getItem('urlPrefix');
            function processPasswordChange(isResetFlow) {
                var password = document.getElementById("password").value;
                var repassword = document.getElementById("repassword").value;
                var ok = true;

                if (password != repassword) {
                    document.getElementById("password").style.borderColor = "#E34234";
                    document.getElementById("repassword").style.borderColor = "#E34234";
                    alert("Passwords do not match. Please key again.");
                    ok = false;
                } else if (password.length < 8) {
                    alert("Passwords too short. At least 8 characters required.");
                    ok = false;
                }

                if (ok) {
                    var currentUrl = new URL(window.location.href);
                    var email = currentUrl.searchParams.get("email");
                    var data = {
                        email: email,
                        password: password
                    };

                    var endpoint = isResetFlow ? '/api/updateMemberPassword' : '/api/changeMemberPassword';
                    var successRedirect = isResetFlow ? '/B/' + countryPrefix + '/memberLogin.html?goodMsg=Reset Password Successful. Please login with your new password.'
                                                       : '/B/' + countryPrefix + '/profile.html?goodMsg=Password Changed Successfully.';

                    fetch(new Request(endpoint, {
                        method: 'PUT',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        if (data.success) {
                            window.location.href = successRedirect;
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }

            function resetPassword() {
                var userResetCode = document.getElementById('resetCode').value;
                var currentUrl = new URL(window.location.href);
                var email = currentUrl.searchParams.get("email");

                if(email) {
                    fetch(new Request('/api/getPasswordResetCode?email=' + email, {
                        method: 'GET'
                    })).then(function (response) {
                        return response.json();
                    }).then(function (data) {
                        if(data.success && data.code == userResetCode) {
                            processPasswordChange(true);
                        } else {
                            alert('Activation Code is incorrect or email does not match.');
                        }
                    }).catch(function (error) {
                        console.log(error);
                    });
                }
            }
        </script>
        <script src="menu2.js"></script>
        <div role="main" class="main">
            <section class="page-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Login / Register</h2>
                        </div>
                    </div>
                </div>
            </section>
            <div class="container">
                <script src="/displayMessageLong.js"></script>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row featured-boxes login">
                            <div class="col-md-12">
                                <div class="featured-box featured-box-secundary default info-content">
                                    <div class="box-content">
                                        <h4>Forgot Password</h4>
                                        <form onsubmit="return false;" id="passwordForm">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Enter your activation code</label>
                                                        <input type="text" id="resetCode" class="form-control input-lg" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Enter your new password</label>
                                                        <input type="password" id="password" class="form-control input-lg" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <label>Verify your new password</label>
                                                        <input type="password" id="repassword" class="form-control input-lg" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <input onclick="resetPassword()" type="submit" value="Submit" class="btn btn-primary pull-right push-bottom">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../footer.js"></script>

    </body>
</html>
