<script src="../checkCountry.js"></script>
<html>
<script src="../../header.js"></script>
<!--This is the Services Page -->

<body>

    <script src="menu2.js"></script>
    <script src="menu3.js"></script>
    <div role="main" class="main">
        <!--This is the black bar-->
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Virtual Store</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--This is the Services that we offer -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row featured-boxes login">
                        <div class="col-md-12">
                            <h2 class="shorter"><strong id="categoryTitle">Our Services</strong></h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel-group" id="collapsable">
                                            <div class="panel panel-default toggle" style="margin-bottom:10;">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"> <a data-toggle="collapse"
                                                            data-parent="#collapsable" href="#collapse0"
                                                            onclick="changeIcon(this)"> <i
                                                                class="icon icon-plus plusMinusIcon"
                                                                style="font-size: 0.7em;"></i>&nbsp;&nbsp;Delivery
                                                            Services <i class="icon icon-caret-right"
                                                                style="float:right;padding-top:5px;"></i> </a> </h4>
                                                </div>
                                                <div id="collapse0" class="panel-collapse collapse">
                                                    <div class="col-md-6"
                                                        style="padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
                                                        <ol style="list-style-type: upper-roman;">
                                                            <!--Redirecting the User to a new page -->
                                                            <li>Both parcel and Truck delivery is available. <a id="deliveryServicesLink" href="../view/B/SG/services1.html">[ More ! ]</a></li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default toggle" style="margin-bottom:10;">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"> <a data-toggle="collapse"
                                                            data-parent="#collapsable" href="#collapse1"
                                                            onclick="changeIcon(this)"> <i
                                                                class="icon icon-plus plusMinusIcon"
                                                                style="font-size: 0.7em;"></i>&nbsp;&nbsp;Assembly
                                                            Services <i class="icon icon-caret-right"
                                                                style="float:right;padding-top:5px;"></i> </a> </h4>
                                                </div>
                                                <div id="collapse1" class="panel-collapse collapse">
                                                    <div class="col-md-6"
                                                        style="padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
                                                        <ol style="list-style-type: upper-roman;">
                                                            <!--Redirecting the User to a new page -->
                                                            <li>blah blah click here to find out more<a id="assemblyServicesLink" href="../view/B/SG/services2.html">[ More !]</a></li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel panel-default toggle" style="margin-bottom:10;">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title"> <a data-toggle="collapse"
                                                            data-parent="#collapsable" href="#collapse2"
                                                            onclick="changeIcon(this)"> <i
                                                                class="icon icon-plus plusMinusIcon"
                                                                style="font-size: 0.7em;"></i>&nbsp;&nbsp;Planning Guide
                                                            and Tools Service<i class="icon icon-caret-right"
                                                                style="float:right;padding-top:5px;"></i> </a> </h4>
                                                </div>
                                                <div id="collapse2" class="panel-collapse collapse">
                                                    <div class="col-md-6"
                                                        style="padding-top: 2%; padding-bottom: 2%; padding-left: 2%;">
                                                        <ol style="list-style-type: upper-roman;">
                                                            <!--Redirecting the User to a new page -->
                                                            <li>Info here blah blah .  <a id="planningGuideLink" href="../view/B/SG/services3.html">[More]</a></li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../footer.js"></script>

</body>

</html>
