<script src="../checkCountry.js"></script>
<html>
<script src="../../header.js"></script>
<!--This is the Services Page -->

<body>

    <script src="menu2.js"></script>
    <div role="main" class="main">
        <!--This is the black bar-->
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Virtual Store</h2>
                    </div>
                </div>
            </div>
        </section>
        <!--delivery services-->
        <i class="fa-regular fa-box"></i>
        <h2>test 3</h2>



</body>

</html>